<!DOCTYPE html>
<html>
<title>Garage Plug</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='icon' href="Images/IMG-20200815-WA0013.jpg" type='image/x-icon'/ >
<script type="text/javascript" src="file:///C:/Users/Lenovo/PycharmProjects/carwashndetailing2/pricelist.json"></script>
<style>
.Button {background-color: #555555;  color: white; }
</style>
<style>
  var mydata = JSON.parse(data);
  console.logs(mydata);
document.getElementById("data").innerHTML=mydata;
</style>
<body>
<p id="data"></p>
</body>
</html>
